[submodule "esp32"]
	path = esp32
	url = https://github.com/redchenjs/bluetooth_flash_programmer_esp32
[submodule "tools"]
	path = tools
	url = https://github.com/redchenjs/bluetooth_flash_programmer_qt
